<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
  <center><nav class="navbar navbar-dark bg-dark">
        <div class="d-flex flex-row bd-highlight mb-2">
            <h5 class="text-white h4 p-3">Delivery App</h5>
            <a class="text-white h6 p-2" href="/signupPage">Signup</a>
            <a class="text-white h6 p-2" href="/loginPage">Login</a>
        </div>
      </nav>
    </center>
      <br>
      <div>
       <center> <img src="../img/cover.jpg" style="max-width: 200%; max-height: 200% ;border-radius : 10px;" alt=""></center>
      </div><br>
      
</body>
<%- include('partials/footer') %> 
</html>