<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Delivery App</h5>
          <a class="text-white h6" href="/signupPage">Signup</a>
          <a class="text-white h6" href="/loginPage">Login</a>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      <br>
      <div>
       <center> <img src="../img/cover.jpg" style="max-width: 200%; max-height: 200% ;border-radius : 10px;" alt=""></center>
      </div><br>
      
</body>
<%- include('partials/footer') %> 
</html>