<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="d-flex flex-row bd-highlight mb-2">
            <h5 class="text-white h4 p-3">Delivery App</h5>
                <a class="text-white h6 p-2" href="/">Home</a>
        </div>
      </nav>
    <h2>Login</h2><br>
    <div class="container ">
        <form action="/API/auth/login" method="post" class="col g-10">
            <div class="col"><label for="validationDefault01" class="col-sm-2 col-form-label">Email : </label>
        <input type="email" class="form-control"id="validationDefault01"
            name="email" value="" required><br></div>
            <div class="col"><label for="validationDefault01" class="col-sm-2 col-form-label">Password : </label>
        <input type="password" id="validationDefault01" name="password" class="form-control" required><br></div>
        <input type="submit" value="Login" class="btn btn-primary mb-3">
        </form>    
    </div>
</body>
<%- include('partials/footer') %> 
</html>